{% extends "base.html" %}
{% load django_markdown %}

{% block blog_entries %}
  <div class="col-md-10">
    <h2><a href="{% url "game_detail" slug=object.slug %}">{{ object.title }}</a></h2>
    <div class="row">
      <div class="col-sm-8"><span>{{ object.description|markdown }}</span></div>
      <div class="col-sm-4"><img src={{ object.ingameurl }} class="img-responsive"></div>
    </div>
    <div class="row">
    	<div class="col-sm-8"><p><b>Descargar: </b><a href="{{ object.downloadurl }}">{{ object.downloadurl }}<a/></p></div>
	</div>
  </div>
{% endblock %}
